/*Begin F*/
.GNBPBBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /*background-color: #f8f9fa;*/
}

.GNBPBBox .GNBBox {
    background-color: #5d90ff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}

/*End F*/

/*Begin T*/

/*Begin F*/